.text{
    color: rgb(175, 201, 250);
    text-align: center;
    padding: 5px 20px;
    position: relative;
    z-index: 2;
}

.title{
    color: hsl(66, 93%, 51%);
    text-align: center;
    font-size: large;
}

.facesWrap {
    background-image: url('../images/face.png');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    opacity: 0.7;
    height: auto; 
    background-size: 80%;
}

/* .facesWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
} */
.postsBlock{
    width: 100%;
    position: relative;
    text-decoration: none;
}


.wrapImg{
    height: 80px;
    padding-top: 25%;
    /* display: block; */
    position: relative;
   
    background-size: cover;
    background-repeat: no-repeat;
  }
  .wrapImg img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%) ;
    max-height: 100%;
    max-width: 100%;
  }
  .wrapPosts{
    padding: 5px;
    display: flex;
    flex-direction: column;
  }