.post{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center
}
/* .user{
    text-align: center;
    size: 15px;
    color: white;
} */

.data,.user{
    text-align: center;
    size: 15px;
    color: rgb(179, 175, 175);
}
.title{
    text-align: center;
    size: 15px;
    color: rgb(87, 237, 60);
    
}
.text{
    text-align: center;
    size: 15px;
    color: white;
}
.image{
  /* width: 50%; */
  /* display: flex;
  justify-content: center; */
  /* align-items: center;  */
  height: 300px; 
  border: 4px solid #4645a9;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
    
}
.imageWrap{
    padding-bottom: 5px; 
    padding-top: 15px;
}
.imageBig{
  border: 4px solid #4645a9;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
}